<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>4th</title>
    <link rel="stylesheet" href="../styles/index.css" />
    <script src="../scripts/script.js"></script>
  </head>
  <body>
    <h1>💖 Hello World!</h1>
    <%- include('partials/table.ejs') %> 
    <%- include('partials/addItem.ejs') %>
  </body>
</html>
