<table class="main">
    <tr>
      <th class="lot">Lot</th>
      <th class="quantity">Quantity</th>
      <th class="date">Received At</th>
      <th class="Num">Item Number</th>
    </tr>

    <tr>
      <td>Hello</td>
      <td>there</td>
      <td>johnny</td>
    </tr>

    <tr>
      <td>Will</td>
      <td>it</td>
      <td>Work</td>
    </tr>
  </table>